<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{dd-MM-yyyy HH:mm:ss.SSS} %-5p [%-35c{0}] ==> %m%n" />
        </Console>

        <File name="File" fileName="smpp-server.log">
            <PatternLayout
                    pattern="%d{dd-MM-yyyy HH:mm:ss.SSS} %-5p [%-31c{1}] ==> %m%n" />
        </File>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Root>
    </Loggers>
</Configuration>